@charset "utf-8";
/* CSS Document */
@font-face{font-family:"segoe-print";src:url(font/segoe-print.ttf) format("truetype");}
*{
padding:0px;margin:0px;
}
#wrapper{
width:800px;
margin:0px auto;
position:relative;
}
#traloi{
padding:0px 20px 20px 100px;
}
#form{
width:467px;
height:50px;
font-size:30px;
padding:4px 20px;
-moz-border-radius:10px;
border:1px solid black;
}
#form:focus{
background:url(heart.gif) no-repeat top right;

}
#gui{
padding:17px 30px;
position:absolute;
top:245px;
left:599px;
font-size:19px;
cursor: pointer;
color:blue;
}
#gui:hover{
text-decoration:underline;
}
#traloi h1{
font-size:20px;
padding-left:20px;
}
#chuthik{
padding:100px 20px 20px 100px;
background:url(heart1.jpg) no-repeat top right;
}
#nhac{
position:absolute;
left:500px;
top:204px;
}
#chuthik p{
font:bold 15px segoe-print;
color:blue;
}
#traloi h1{
color:#f666d9;
text-decoration:blink;
}